<!-- <div class="p-grid">
    <div class="p-col-3 divDisplayNone">
        <div style="background-color: #f4f4f4;height: 100%;">
            <p-panelMenu [model]="items2"></p-panelMenu>
        </div>
    </div>
    <div class="p-col-12 p-md-7">
        <app-top-list100-all-of-time></app-top-list100-all-of-time>
    </div>
    <div class="p-col-2 divDisplayNone">
        <div style="background-color: tomato;height: 100%;"></div>
    </div>
</div> -->

<app-top-list100-all-of-time></app-top-list100-all-of-time>